@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300';

.container_p {
  perspective: 800px;
  /* Styling */
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  /* Center it */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0em;
  left: 35%;
  transform: translate(-50%, -50%);
}

.stud{
  color: #000;
  margin-bottom: 3em;
}

.card_p {
  /* Styling */
  width: 600px;
  height: 350px;
  background: url(https://images-ext-2.discordapp.net/external/WS3FXBqDESLqOm-Cxvj30BoBwl9fGb2VCLfhNBztBb4/%3F%26targetx%3D0%26targety%3D-100%26imagewidth%3D700%26imageheight%3D700%26modelwidth%3D700%26modelheight%3D500%26backgroundcolor%3D8E8F8F%26orientation%3D0/https/render.fineartamerica.com/images/rendered/default/greeting-card/images/artworkimages/medium/2/single-white-feather-on-white-background-dougal-waters.jpg);
  background-size: cover;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* card_p flipping effects */
  transform-style: preserve-3d;
  transition: 0.6s;
  margin-bottom: 2em;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* Fix Chrome rendering bug */
  transform: rotate(0deg) translateZ(1px);
}

/* Flip the card_p on hover */
.container_p:hover .card_p,
.back {
  transform: rotateY(-180deg) translateZ(1px);
}

/* Front styling */
.front {
  /* Center the name + outline (almost) */
  line-height: 350px;
  /* Height - some (because visual center is a little higher than actual center) */
  text-align: center;
  justify-content: center;
  color: #000;
  font-weight: 900;
}

.logo {
  outline: 1px solid #333;
  display: inline-block;
  padding: 15px 40px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 8px;
}

/* Back styling */
.back {
  background: url(https://images-ext-2.discordapp.net/external/WS3FXBqDESLqOm-Cxvj30BoBwl9fGb2VCLfhNBztBb4/%3F%26targetx%3D0%26targety%3D-100%26imagewidth%3D700%26imageheight%3D700%26modelwidth%3D700%26modelheight%3D500%26backgroundcolor%3D8E8F8F%26orientation%3D0/https/render.fineartamerica.com/images/rendered/default/greeting-card/images/artworkimages/medium/2/single-white-feather-on-white-background-dougal-waters.jpg);
  padding: 30px;
}

.name {
  color: #3B3B3B;
  margin-bottom: 3em;
}

p {
  margin: 0.8em 0;
  color: #333;
  text-decoration: none;
}

p:hover{
  text-decoration: none;
}

.info {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-transform: none;
  color: #3b3b3b;
}

.property {
  color: #000;
}

/* Make semi-responsive */
@media (max-width: 700px) {
  .card_p {
    transform: scale(0.8);
  }

  .container_p:hover .card_p {
    transform: scale(0.8) rotateY(-180deg) translateZ(1px);
  }
}