.section {
    display: flex;
    justify-content: center;
  }
  
  .wall {
    display: flex;
  }

  .v-boxes {
    display: flex;
    flex-direction: column;
  }
  .v-boxes:not(:first-child) {
    margin-left: -75px;
  }
  
  .second {
    margin-top: 75px;
  }
  
  .third {
    margin-top: 150px;
  }
  
  .forth {
    margin-top: 225px;
  }

  .ico{
    color: black
  }
  
  .box {
    width: 100px;
    height: 100px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 25px;
    cursor: pointer;
  }
  .box:hover:not(.link) > .box-face, .box:hover > .box-back {
    transform: translateZ(100px) rotateX(180deg);
    background-color: transparent !important;
  }
  .box:hover:not(.link) > .box-face > .box-text {
    opacity: 0;
  }
  .box:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  .box:hover.link > .box-face {
    background-color: transparent !important;
  }
  .box:hover.link > .box-face > .box-text {
    color: #323232;
  }
  .box.link > .box-face {
    background-color: #323232;
    border: 1px solid #323232;
    box-sizing: border-box;
    transition: background-color 0.5s;
  }
  .box.link .box-text {
    color: #efefef;
    transition: color 0.5s;
  }
  
  .box-face, .box-back {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100px;
    height: 100px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9g6vckA8yKanBD9bLaOFXiGtHBt2_6Ymj_Q&usqp=CAU);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-style: preserver-3d;
    -webkit-transform-style: preserver-3d;
    -moz-transform-style: preserver-3d;
    transition: transform 1s, background-color 0s 0.3s;
  }
  
  .box-face .box-text {
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    color: #bababa;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
    transition: opacity 0s linear 0.3s;
  }
  
  .box-back .box-text {
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-135deg) rotateY(180deg);
    transition: opacity 0s linear 0.3s;
  }
  
  .box-back {
    z-index: 0;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9g6vckA8yKanBD9bLaOFXiGtHBt2_6Ymj_Q&usqp=CAU);
  }
  
  .cpp {
    max-height: 90px;
    align-items: center;
  }
  
  .tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 20px;
    width: 80px;
    font-size: 16px;
    color: #000;
    text-align: center;
    padding: 5px 0;
    z-index: 1000;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: visibility 0s linear 0.3s, opacity 1s linear 0.3s;
  }
